# Core data
pandas
numpy
scikit-learn

# LangChain stack
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langgraph

# Vector DB
chromadb
faiss-cpu

# Embeddings
sentence-transformers
transformers
huggingface-hub

# Groq
groq

# MLflow
mlflow

# CrewAI
crewai

# API
fastapi
uvicorn

# UI
streamlit

# Utilities
python-dotenv
pydantic
requests
tqdmpytest
